In [130]:
import pandas as pd

In [131]:
#read in files 
user_cols= ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users= pd.read_csv('u.user', sep='|', names= user_cols, encoding='latin-1')

rating_cols=['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings= pd.read_csv('u.data', sep='\t', names=rating_cols, encoding='latin-1')

genre_cols= ['movie_id', 'movie_title', 'release_date', 'video release date', 'IMdb URL', 'Unknown','Action',
             'Adventure', 'Animation', 'Children\'s', 'Comedy', 'Crime','Documentary', 'Drama', 'Fantasy','Film-noir',
             'Horror', 'Musical', 'Mystery', 'Romance', 'SciFi', 'Thriller', 'War', 'Western']
genres= pd.read_csv('u.item', sep='|', names= genre_cols, encoding='latin-1')

In [132]:
print(users.shape)
users.head()

(943, 5)

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [133]:
print(ratings.shape)
ratings.head()

(100000, 4)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [187]:
print(genres.shape)
genres.head()

(1682, 24)

,movie_id,movie_title,release_date,video release date,IMdb URL,Unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-noir,Horror,Musical,Mystery,Romance,SciFi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [144]:
ratings
rp= ratings.pivot_table('rating', index='movie_id',columns='user_id')
test=rp[1]

sim_test=rp.corrwith(test)
sim_test

user_id
1      1.000000
2      0.160841
3      0.112780
4      0.500000
5      0.420809
6      0.287159
7      0.258137
8      0.692086
9     -0.102062
10    -0.092344
11     0.302850
12     0.042191
13     0.429857
14     0.040671
15     0.145805
16     0.142875
17     0.578641
18    -0.036810
19    -0.577350
20     0.035265
21     0.533282
22     0.591613
23     0.289164
24    -0.073681
25     0.166581
26     0.318111
27     0.564618
28     0.317511
29     0.655956
30     0.544982
         ...
914   -0.606339
915         NaN
916    0.415419
917    0.079444
918    0.071188
919    0.174609
920    0.750000
921    0.180056
922    0.290712
923    0.590413
924    0.270584
925    0.297775
926    0.645179
927    0.137312
928   -0.126063
929    0.296122
930    0.085688
931   -0.116027
932    0.307356
933    0.392989
934    0.061695
935   -0.260242
936    0.383733
937    0.029000
938    0.326744
939    0.534390
940    0.263289
941    0.205616
942   -0.180784
943    0.067549
Length: 943, dtype: float64

In [152]:
rating_c= ratings[test[ratings.movie_id].isnull().values & (ratings.user_id !=1)]
rating_c

       user_id  movie_id  rating  unix_timestamp
1          186       302       3       891717742
2           22       377       1       878887116
4          166       346       1       886397596
5          298       474       4       884182806
7          253       465       5       891628467
8          305       451       3       886324817
11         286      1014       5       879781125
15         303       785       3       879485318
16         122       387       5       879270459
17         194       274       2       879539794
18         291      1042       4       874834944
19         234      1184       2       892079237
20         119       392       4       886176814
21         167       486       4       892738452
25          95       546       2       879196566
27         102       768       2       883748450
28          63       277       4       875747401
35         157       274       4       886890835
36         181      1081       1       878962623
37         278       603       5       891295330
38         276       796       1       874791932
41         284       304       4       885329322
42         201       979       2       884114233
43         276       564       3       874791805
44         287       327       5       875333916
46         242      1137       5       879741196
49         178       332       3       882823437
51          81       432       2       876535131
52         260       322       4       890618898
55          72       679       2       880037164
...        ...       ...     ...             ...
99957      833       474       5       875122675
99958      394       380       4       881132876
99959      193       690       4       889123221
99960      621       809       4       880740136
99962      650       479       5       891372339
99964      847       596       3       878938982
99966      788       556       2       880871128
99967      897       369       4       879993713
99968      936       287       4       886832419
99969      936       766       3       886832597
99971      661       762       2       876037121
99972      721       874       3       877137447
99974      764       596       3       876243046
99975      537       443       3       886031752
99976      618       628       2       891308019
99977      487       291       3       883445079
99978      113       975       5       875936424
99979      943       391       2       888640291
99980      864       685       4       888891900
99981      750       323       3       879445877
99983      646       750       3       888528902
99984      654       370       2       887863914
99985      617       582       4       883789294
99986      913       690       3       880824288
99988      421       498       4       892241344
99989      495      1091       4       888637503
99990      806       421       4       882388897
99991      676       538       4       892685437
99995      880       476       3       880175444
99997      276      1090       1       874795795

[58166 rows x 4 columns]

In [164]:
rating_c['similarity']= rating_c['user_id'].map(sim_test.get)

/Users/ghalyahalansari/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [165]:
rating_c['sim_rating']= rating_c.similarity * rating_c.rating
rating_c

/Users/ghalyahalansari/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

       user_id  movie_id  rating  unix_timestamp  similarity  sim_rating
1          186       302       3       891717742   -0.060441   -0.181323
2           22       377       1       878887116    0.591613    0.591613
4          166       346       1       886397596    1.000000    1.000000
5          298       474       4       884182806   -0.058302   -0.233210
7          253       465       5       891628467    0.384991    1.924956
8          305       451       3       886324817    0.344494    1.033483
11         286      1014       5       879781125    0.017137    0.085686
15         303       785       3       879485318    0.447252    1.341757
16         122       387       5       879270459    0.383577    1.917885
17         194       274       2       879539794    0.276549    0.553097
18         291      1042       4       874834944    0.409074    1.636295
19         234      1184       2       892079237    0.209872    0.419743
20         119       392       4       886176814    0.191075    0.764298
21         167       486       4       892738452   -0.031266   -0.125062
25          95       546       2       879196566    0.241298    0.482595
27         102       768       2       883748450    0.469750    0.939501
28          63       277       4       875747401    0.065911    0.263646
35         157       274       4       886890835    0.388790    1.555159
36         181      1081       1       878962623    0.153429    0.153429
37         278       603       5       891295330    0.493013    2.465063
38         276       796       1       874791932    0.480100    0.480100
41         284       304       4       885329322    0.481218    1.924871
42         201       979       2       884114233    0.195006    0.390012
43         276       564       3       874791805    0.480100    1.440300
44         287       327       5       875333916    0.158600    0.792999
46         242      1137       5       879741196    0.333333    1.666667
49         178       332       3       882823437    0.230988    0.692965
51          81       432       2       876535131   -0.083100   -0.166201
52         260       322       4       890618898    0.500000    2.000000
55          72       679       2       880037164    0.132949    0.265898
...        ...       ...     ...             ...         ...         ...
99957      833       474       5       875122675    0.117421    0.587105
99958      394       380       4       881132876    0.319915    1.279658
99959      193       690       4       889123221    0.106330    0.425318
99960      621       809       4       880740136    0.339109    1.356438
99962      650       479       5       891372339    0.390956    1.954780
99964      847       596       3       878938982    0.301725    0.905175
99966      788       556       2       880871128    0.266094    0.532189
99967      897       369       4       879993713    0.090408    0.361634
99968      936       287       4       886832419    0.383733    1.534934
99969      936       766       3       886832597    0.383733    1.151200
99971      661       762       2       876037121    0.445382    0.890764
99972      721       874       3       877137447    0.401245    1.203735
99974      764       596       3       876243046    0.070901    0.212703
99975      537       443       3       886031752    0.209985    0.629956
99976      618       628       2       891308019    0.039904    0.079808
99977      487       291       3       883445079    0.430015    1.290045
99978      113       975       5       875936424    0.074921    0.374605
99979      943       391       2       888640291    0.067549    0.135099
99980      864       685       4       888891900    0.293077    1.172307
99981      750       323       3       879445877    0.166667    0.500000
99983      646       750       3       888528902    0.000000    0.000000
99984      654       370       2       887863914   -0.029232   -0.058464
99985      617       582       4       883789294   -0.052642   -0.210569
99986      913       690       3       880824288    0.209879    0.629636
99988      421       498       4       892241344    0.215220    0.860880
99989      495      1091       4       888637503    0.244658    0.978631
99990      806       421       4       882388897    0.344788    1.379153
99991      676       538       4       892685437    0.022067    0.088266
99995      880       476       3       880175444    0.466956    1.400869
99997      276      1090       1       874795795    0.480100    0.480100

[58166 rows x 6 columns]

In [159]:
recommendation= rating_c.groupby('movie_id').apply(lambda s: s.sim_rating.sum()/s.similarity.sum())

/Users/ghalyahalansari/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in double_scalars
  """Entry point for launching an IPython kernel.

In [168]:
print(recommendation.sort_values(ascending=False))

movie_id
1106    31.956475
1259    22.832024
1304     7.640849
1026     6.036921
1355     5.462817
1500     5.000000
1467     5.000000
1122     5.000000
814      5.000000
1201     5.000000
1536     5.000000
1599     5.000000
1293     5.000000
1189     5.000000
851      4.821310
1396     4.737126
1398     4.679285
1449     4.624595
1558     4.609503
1612     4.573593
1529     4.545875
868      4.544302
408      4.524735
1542     4.516328
1642     4.515138
745      4.507895
483      4.497837
1594     4.467873
603      4.467113
318      4.462917
          ...
1586     1.000000
1334     1.000000
1577     1.000000
1576     1.000000
1575     1.000000
1587     1.000000
1309     1.000000
1339     1.000000
1340     1.000000
1574     1.000000
1308     1.000000
1341     1.000000
1343     1.000000
1572     1.000000
1348     1.000000
1571     1.000000
1584     1.000000
1290     0.965466
1509     0.894457
1463     0.757828
1622     0.699332
839      0.673619
1431     0.668491
1332     0.013276
1464    -1.276943
1394    -2.412031
1656    -2.862847
1429    -6.058108
1358   -22.934198
1653          NaN
Length: 1410, dtype: float64

In [190]:
#watch
genres.loc[genres['movie_id'] == 1106, 'movie_title']

1105    Newton Boys, The (1998)
Name: movie_title, dtype: object

In [191]:
#don't watch
genres.loc[genres['movie_id'] == 1358, 'movie_title']

1357    The Deadly Cure (1996)
Name: movie_title, dtype: object